<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rubahapi.myshow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"></activity>

        <!-- <provider -->
        <!-- android:name=".data.SunshineProvider" -->
        <!-- android:authorities="com.rubahapi.myshow" -->
        <!-- android:exported="false" -->
        <!-- android:syncable="true" /> -->

        <activity android:name=".LatestMovieActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.MovieProvider"
            android:authorities="@string/content_authority"
            android:exported="false"
            android:syncable="true" />

        <!-- <service android:name=".service.authservice.MovieAuthService"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.accounts.AccountAuthenticator" /> -->
        <!-- </intent-filter> -->
        <!-- <meta-data android:name="android.accounts.AccountAuthenticator" android:resource="@xml/authenticator"/> -->
        <!-- </service> -->


        <!-- <service android:name=".service.sync.MovieSyncService" android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.content.SyncAdapter"/> -->
        <!-- </intent-filter> -->
        <!-- <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/syncadapter"/> -->
        <!-- </service> -->


        <service android:name=".service.MovieService"/>
        <activity android:name=".MovieDetail"
            android:label="Movie Detail"
            android:parentActivityName=".LatestMovieActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".LatestMovieActivity"/>
        </activity>

        <activity android:name=".SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".LatestMovieActivity"
            android:theme="@style/SettingsTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rubahapi.myshow.LatestMovieActivity" />
        </activity>
    </application>

</manifest>